{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

<div class="o-typography-body">
{% markdown %}

“Presenteeism” describes a situation when someone is at work but not really all there — not 100 per cent, not at their best, feeling a bit unwell or maybe a little distracted.

The term is less well known than absenteeism, its more blatant counterpart, even though presenteeism’s impact on productivity is 12 times greater, according to Vitality’s latest survey for Britain’s Healthiest Workplace.

Some 35 productive days are lost per worker each year because of presenteeism, the data show, compared with three because of absenteeism. Combined, this accounts for about 16 per cent of a full-time UK employee’s working days.

Choosing to go to work when ill is often driven by a fear of being labelled “unreliable” or “unable to handle the pressure”.

“There’s so much emphasis on being seen, rather than your output . . . as a proxy for how committed you are to the organisation,” says Stephen Bevan, head of human resources research development at the UK’s Institute for Employment Studies.

If employees link being present at work with the prospect of promotion, or the type of work they might be given responsibility for, it can mean those with anxiety or depression are more likely to struggle on the job instead of taking time off, Mr Bevan explains.

Turning up for work when ill often has a longer-term impact on productivity, because the recovery period is extended — and that is not to mention the effect it can have on others. “It also affects the quality of service to customers and how helpful employees are to their colleagues,” says Mr Bevan.

If health problems are ignored, “a few days of short-term sickness here or there can turn into a more serious and longer-term issue”, he adds. “There are situations where people will be overlooking serious underlying health problems.”

And the figures are rising.

Just five years ago, 20 productive days were lost per employee to presenteeism, and only 29 per cent of employees were affected, according to Vitality. Now, an additional 15 days are lost each year, and 45 per cent of workers are affected.

But this may be a positive result of increased awareness and openness about presenteeism — potentially highlighting how the problem was previously under-reported.

It’s most common among young employees. Workers in their early twenties lose more than 50 per cent of productive time to presenteeism than those in their late forties, according to the survey.

### How people your age compare

<strong>Select your age range below to see how many days of productivity your peers lose to presenteeism each year, and learn to what extent different health risks tend to affect people in your age group — hampering their ability to work most effectively.</strong>

<div id="react-app" class="no-max-width"></div>

<!-- {# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #} -->

<!-- <figure class="graphic graphic-b-1 graphic-pad-1">
  <img alt="" src="https://image.webservices.ft.com/v1/images/raw/http%3A%2F%2Fcom.ft.imagepublish.prod.s3.amazonaws.com%2Fc4bf0be4-7c15-11e4-a7b8-00144feabdc0?source=ig&fit=scale-down&width=700"></img>
    <figcaption class="o-typography-caption">
    <a class="o-typography-link" href="#void">&#xA9;Credit person</a> George Orwell at his typewriter
  </figcaption>
</figure> -->

{% endmarkdown %}
</div>
{% endblock %}
