form.form-select {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 20px;

    input[type='range'] {
      display: inline-block;
    }
  }
}

.spacer {
  height: 394px;
}

article {
  span.variable {
    padding: 1px 4px;
    background-color: #FF1A66;
    color: #fff;
    font-weight: 400;
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
    font-feature-settings: 'tnum';
  }
}
