@import 'o-icons/main';

article {
  .o-forms {
    margin: 0 auto 20px;

    input[type='range'] {
      width: 100%;
    }

    button {
      position: relative;
      display: block;
      margin: 0 auto;
      padding-right: 37px;
    }
  }

  section {
    padding: 8px 0 0;

    .o-typography-body {
      transition: all 600ms;
    }

    .o-typography-link {
      transition: all 600ms;
    }

    span.variable {
      position: relative;
      margin: 0 0 0 4px;
      padding: 0 0 0 4px;
      font-weight: 600;
      -webkit-font-feature-settings: 'tnum';
      -moz-font-feature-settings: 'tnum';
      font-feature-settings: 'tnum';
      transition: all 600ms;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: -4px;
        width: 4px;
        height: 21px;
        background-color: #1aecff;
        transition: all 600ms;
      }
    }
  }
}

.icon-down {
  @include oIconsGetIcon('arrow-down', #fff, 24);
  position: absolute;
  top: 7px;
}

.icon-refresh {
  @include oIconsGetIcon('refresh', #fff, 24);
  position: absolute;
  top: 7px;
}

.no-cssfilters {
  .o-typography-body {
    text-shadow: 0 0 0 #33302e;
    color: #33302e;
  }

  .o-typography-link {
    text-shadow: 0 0 0 #00757f;
    color: #00757f;
  }

  span.variable {
    text-shadow: 0 0 0 #33302e;
    color: #33302e;
  }

  .blurred {
    .o-typography-body {
      text-shadow: 0 0 10px #33302e;
      color: rgba(51, 48, 46, 0);
    }

    .o-typography-link {
      text-shadow: 0 0 10px #00757f;
      color: rgba(0, 117, 127, 0);
      border-bottom: none;
    }

    span.variable {
      text-shadow: 0 0 10px #33302e;
      color: rgba(51, 48, 46, 0);

      &:before {
        -webkit-box-shadow: 0 0 6px 3px #1aecff;
        -moz-box-shadow: 0 0 6px 3px #1aecff;
        box-shadow: 0 0 6px 3px #1aecff;
        background-color: rgba(26, 236, 255, 0.8);
      }
    }
  }
}

.cssfilters {
  .o-typography-body {
    -webkit-filter: none;
    filter: none;
  }

  .blurred {
    .o-typography-body {
      -webkit-filter: blur(6px);
      filter: blur(6px);
    }
  }
}
