.spacer {
  height: 394px;
}

span.variable {
  padding: 1px 4px;
  background-color: #FF1A66;
  color: #fff;
  font-weight: 400;
  -webkit-font-feature-settings: 'tnum';
  -moz-font-feature-settings: 'tnum';
  font-feature-settings: 'tnum';
}
